extends ../layouts/application.pug

block header
  = t('views.tasks.edit.title')

block content
  +formFor()(action=route('updateTask', {id: task.id}) method='post')
    input(name="_method" type="hidden" value="patch")
    +input(task, 'name', errors)(type="text")
    +textarea(task, 'description', errors)(rows=3)
    +select(task, 'statusId', statuses, errors)
    +select(task, 'executorId', users, errors)
    +selectMultiple(task, 'labels', labels, errors)
    +submit(task)(value=t('views.tasks.edit.submit'))